################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
*.vsidx
/.vs/slnx.sqlite
/.vs/SkillFactory/FileContentIndex/028a9c20-a46e-43dd-a9bc-c88719d2adad.vsidx
